/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/codestyles
/_linux
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
_ide_helper.php
databaseDrivers.xml
debugger.xml
docker.xml
find.xml
log_highlighting.xml
php.xml
phpunit.xml
project.default.xml
remote-servers.xml
vcs.xml
